
<!--section class="location_section" id="location">
  <div class="container">
    <div class="title_info">
      <h2>LOCATION</h2>
      <div class="title_tagline"></div>
    </div>


    <div class="location">
      <div class="location-hight areastyle">
        <ul>

        </ul>
      </div>
     </div>
  </div>
</section-->


<section id="Location" class="Location clearfix" >
<article class="Location-bg clearfix">
  <h6 >LOCATION</h6>
   <h2 >An eos posse fabellas consectetuer</h2>

</article>

<section>
<div class="container-fluid">
<div class="row">
<div class="col-sm-6">
<div class="row">
<img src="images/location.jpg" alt=""/>
</div>
</div>

<div class="col-sm-6">

<div class="middle"> <h5 >Address Details</h5>
  <p class="gap">{% region location_desc %}</p></div>

</div>
</div>
</div>
</section>

<section>


<div class="col-sm-6">

<p class="second">Driving Directions:</p>
<div class="list">
{% region driving_desc %}
  </div>
</div>

<div class="col-sm-6">
<div class="row">
  <div class="maps">
    <div id="map_container"></div>
    <div id="map"></div>
  </div>

</div>
</div>
</section>



</section>
